/* resets */
h1, h2, h3, h4, p {
  margin: unset;
} 
fieldset {
  border: unset;
  margin: unset;
  padding: unset;
}
/* end resets */


body {
  background-color: #16161a;

  color: #94a1b2;

  font-family: 
    "SFMono-Regular",
    Consolas,
    "Liberation Mono",
    Menlo,
    Courier,
    monospace;

  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading {
  color: #fffffe;
}

.color-green {
  color: #2cb67d;
}

.color-orange {
  color: #ff6600;
}

.color-purple {
  color: #7f5af0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.mb-25 {
  margin-bottom: .25rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.size-115 {
  font-size: 1.15rem;
}

.progress-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.progress-label {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.progress-container > progress {
  height: 2rem;
  width: 100%;
}

progress[value] {
 /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  
  /* Get rid of default border in Firefox. */
  border: none; 
}

progress[value]::-webkit-progress-value, progress[value]::-moz-progress-bar {
  background-color: #7f5af0;
}

.technologies-multi-select {
  background-color: #7f5af0;
  color: #fffffe;  
}

.tech-select__placeholder {
  color: #7f5af0 !important;
}

.tech-select__menu {
  color: #7f5af0;
  font-weight: bold;
}

.tech-select__multi-value {
  background-color: #7f5af0 !important;
  color: white !important;
  font-weight: bold; 
}

.tech-select__multi-value__label {
  color: white !important;
}


.App {
  padding: 2rem;
}